* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osz-font-smoothing: grayscale;
    }

:root {
    font-size: 62.5%;

    --color-base-white: #fff;
    --color-base-00: #065E7C;
    --color-base-01: #387E96;
    --color-base-03: #F4FCFF;
  
    --color-text-01: #fff;
    --color-text-02: #202024;
    --color-text-03: #121214;

}

html,
body, 
input {
    font-family: 'Mulish', sans-serif;
}

main {
    overflow-y: scroll;
    grid-area: main;
}

main {
  padding: 0 3.2rem;
}

.artigo>img {
    width: 100%;

    object-fit: cover;
  }

.blog {
    display: grid;
    grid-template-areas:
    'header'
    'main'
    'footer';
}

header {
    display: flex;
    justify-content: space-between;
    gap: 3.0rem;
    align-items: center;

    height: 7.2rem;
    padding: 1.2rem 11.2rem;

    background-color: #065E7C;

    --startY: -100%;
    animation: move .2s;
}

header form {
    flex: 1;
}

.logo {
    border-radius: 5.0rem;
    padding: .8rem .8rem .8rem .8rem;

    background-color: var(--color-base-white);
}

.input-wrapper input {
    width: 100%;
    padding: 1.2rem 1.6rem 1.2rem 1.4rem;
    align-items: center;
    gap: 1.2rem;
    border-radius: .4rem;
    border: 0;

    color: var(--color-base-white);
    background-color: var(--color-base-01);
}

.input-wrapper label {
    width: .1rem;
    height: .1rem;
    overflow: hidden;
    position: absolute;
    border: 0;
}

.input-wrapper input::placeholder {
    font-size: 1.6rem;
    color: var(--color-base-white);
}

.avatar {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    object-fit: cover;
}

.artigo {
    padding-top: 4.4rem;
}
.container {
    padding: 1.6rem 3.2rem;
    margin: 0 auto;
    width: min(100%)
}

button {
    height: 4.0rem;
    width: 4.0rem;
    border-radius: 50%;
    border: none;
    background-color: #065E7C;
    color: var(--color-base-white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

button>img {
    height: 1.6rem;
    width: 1.6rem;
  }
  
button:hover {
    cursor: pointer;
    background: #0aa6da;
  }

.title {
    display: flex;
    gap: .8rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.container h2, main h1 {
    font-size: 2.4rem;
}

.container, main p {
    font-size: 1.6rem;
}

.description {
    padding: 1.6rem;
    background-color: var(--color-base-white);
    z-index: 1;
    position: relative;
}

.description h3 {
    font-size: 1.4rem;
}

.container h3 {
    font-size: 1.8rem;
}

/* artigos */

main section {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    padding: 3.2rem 2.2rem;
  }

.artigo {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    padding: 3.2rem 2.2rem;
  }

  .title {
    display: flex;
    gap: .8rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.article {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    padding: 0 2.2rem 3.2rem;
    min-width: 43.0rem;
}

.item img {
    width: 100%;
    
}

figure {
  display: flex;
  gap: 1.6rem;
  --delay: .2s;
  animation: appear .4s var(--delay) backwards;
}

figure>img {
  align-self: center;

}

figcaption {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

figcaption>p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 160%;
}

footer {
    background-color: var(--color-base-01);
    animation: move .2s;
    --startY: 100%;
    text-align:center;
}

footer span {
    color: #FFF;
    padding: 1.6rem;
    font-size: 1.6rem;
    font-weight: 600;
}

@keyframes move {
    from {
      transform: translateY(var(--startY))
    }
  }
  
@keyframes appear {
    0% {
      opacity: 0;
      transform: scale(0.7);
    }
  
    50% {
      transform: scale(1.2);
    }
  }
  
@media (min-width: 768px) {
  
    main {
      display: grid;
      grid-template-areas:
        'main main sidebar';
    }
  
    article {
      padding: 3.2rem 2.2rem;
      max-width: 43.0rem;
    }
  
    figure>img:first-child {
      padding: 3.2rem 2.2rem 0;
    }

  }

@keyframes move {
    from {
      transform: translateY(var(--startY))
    }
  }
  
@keyframes appear {
    0% {
      opacity: 0;
      transform: scale(0.7);
    }
  
    50% {
      transform: scale(1.2);
    }
  }
