* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osz-font-smoothing: grayscale;
    }

:root {
    font-size: 62.5%;
}

body {
    font-family: 'Mulish', sans-serif;
}

main {
    overflow-y: scroll;
}

.blog {
    display: grid;
    height: 100vh;
    grid-template-rows: max-content 1fr max-content;
}

header {
    display: flex;
    justify-content: space-between;
    gap: 3.0rem;
    align-items: center;

    height: 7.2rem;
    padding: 1.2rem 11.2rem;

    background-color: #065E7C;

    --startY: -100%;
    animation: move .2s;
}

header form {
    flex: 1;
}

.logo {
    border-radius: 5.0rem;
    padding: .8rem .8rem .8rem .8rem;

    background-color: #FFF;
}

.input-wrapper input {
    width: 100%;
    padding: 1.2rem 1.6rem 1.2rem 1.4rem;
    align-items: center;
    gap: 1.2rem;
    border-radius: .4rem;
    border: 0;

    color: white;
    background-color: #387E96;
}

.input-wrapper label {
    width: .1rem;
    height: .1rem;
    overflow: hidden;
    position: absolute;
    border: 0;
}

.input-wrapper input::placeholder {
    font-size: 1.6rem;
    color: white;
}

.avatar {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    object-fit: cover;
}

.container {
    padding: 1.6rem 3.2rem;
    margin: 0 auto;
    width: min(100%)
}

footer {
    background-color: #387E96;

    animation: move .2s;
    --startY: 100%;
}

footer span {
    text-align:center;

    padding: 1.6rem;

    font-weight: 600;
}

@keyframes move {
    from {
        transform: translateY(var(--startY));
    }
}

